<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Тестовые вкладки</title>
    <style>
        /* Стили для активной вкладки */
        .nav-pills .nav-link.active {
            background-color: #007bff; /* цвет primary */
            color: white;
        }

        .text-center-custom {
            text-align: center;
            display: block; /* Чтобы label занимал всю доступную ширину */
            width: 100%; /* Чтобы label занимал всю доступную ширину */
        }

        .form-group-center {
            text-align: center;
        }

        .custom-width {
            display: inline-block; /* Чтобы поля были выровнены по центру */
            width: 300px; /* Установите желаемую ширину полей */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- Вертикальные вкладки -->
        <div class="col-3">
            <ul class="nav flex-column nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#home" role="tab" data-toggle="tab">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile" role="tab" data-toggle="tab">User</a>
                </li>
            </ul>
        </div>

        <!-- Содержимое вкладок -->
        <div class="col-9">
            <div class="tab-content">
                <!-- Вкладка "Admin" -->
                <div role="tabpanel" class="tab-pane active" id="home">
                    <h4>Admin panel</h4>
                    <!-- Горизонтальные вложенные вкладки -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#allUsers" role="tab" data-toggle="tab">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#newUser" role="tab" data-toggle="tab">New User</a>
                        </li>
                    </ul>

                    <!-- Содержимое для горизонтальных вкладок -->
                    <div class="tab-content mt-3">
                        <!-- Вкладка "Все пользователи" -->
                        <div role="tabpanel" class="tab-pane active" id="allUsers">
                            <h1 style="margin: 15px; padding: 10px;">All users</h1>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${listUsers}">
                                    <th scope="row" th:text="${user.id}">1</th>
                                    <td th:text="${user.name}">Mark</td>
                                    <td th:text="${user.email}">Otto</td>
                                    <td th:text="${user.username}">@mdo</td>
                                    <td th:text="${user.roles.get(0).toString()}">@mdo</td>
                                    <td>
                                        <button type="button" class="btn button bg-info text-white" data-toggle="modal"
                                                th:data-target="'#editUserModal' + ${user.id}"
                                                th:data-user-id="${user.id}">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn button bg-danger text-white" data-toggle="modal"
                                                th:data-target="'#deleteUserModal' + ${user.id}"
                                                th:data-user-id="${user.id}">
                                            Delete
                                        </button>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Вкладка "Новый пользователь" -->
                        <div role="tabpanel" class="tab-pane" id="newUser">
                            <form th:action="@{/admin/save}" method="post">
                                <h3>User Information</h3>
                                <input type="hidden" th:field="*{user.id}"/>
                                <table>
                                    <tr>
                                        <td>Name:</td>
                                        <td><input type="text" th:field="*{user.name}"/></td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input type="text" th:field="*{user.email}"/></td>
                                    </tr>
                                    <tr>
                                        <td>UserName</td>
                                        <td><input type="text" th:field="*{user.username}"/></td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td><input type="text" th:field="*{user.password}"/></td>
                                    </tr>
                                </table>

                                <h3>Role Information</h3>
                                <table>
                                    <tr>
                                        <td>Role Name:</td>
                                        <td>
                                            <select th:field="*{role.roleName}">
                                                <option value="USER">USER</option>
                                                <option value="ADMIN">ADMIN</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Одна кнопка для отправки обеих форм -->
                                <input type="submit" value="Save User and Role"/>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Вкладка "Профиль" -->
                <div role="tabpanel" class="tab-pane" id="profile">
                    <h4>Профиль</h4>
                    <h2>User</h2>
                    <h1 style="margin: 15px; padding: 10px;">User Information</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th scope="row" th:text="${currentuser.id}">1</th>
                        <td th:text="${currentuser.name}">Mark</td>
                        <td th:text="${currentuser.email}">Otto</td>
                        <td th:text="${currentuser.username}">@mdo</td>
                        <td th:text="${currentuser.roles.get(0).toString()}">@mdo</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Модальное окно для изменения данных пользователя-->
<div th:each="user : ${listUsers}" class="modal fade" th:id="'editUserModal' + ${user.id}" tabindex="-1"
     aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editUserModalLabel' + ${user.id}"
                    th:text="'Edit User' + ' ' + ${user.id}">
                    Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/save}" method="post">
                    <!-- Скрытое поле для ID -->
                    <input type="hidden" name="id" th:value="${user.id}"/>

                    <!-- Поле для отображения ID -->
                    <div class="mb-3 form-group-center">
                        <label for="userId + ${user.id}" class="form-label text-center-custom">ID</label>
                        <input type="text" class="form-control custom-width" id="userId + ${user.id}" name="id"
                               th:value="${user.id}" readonly>
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="userName + ${user.id}" class="form-label text-center-custom">Name</label>
                        <input type="text" class="form-control custom-width" id="userName + ${user.id}" name="name"
                               th:value="${user.name}">
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="userUsername + ${user.id}" class="form-label text-center-custom">UserName</label>
                        <input type="text" class="form-control custom-width" id="userUsername + ${user.id}" name="username"
                               th:value="${user.username}">
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="userEmail + ${user.id}" class="form-label text-center-custom">Email</label>
                        <input type="text" class="form-control custom-width" id="userEmail + ${user.id}" name="email"
                               th:value="${user.email}">
                    </div>
                    <input type="hidden" name="id" th:value="${user.password}"/>
                    <div class="mb-3 form-group-center">
                        <label for="userPassword + ${user.id}" class="form-label text-center-custom">Password</label>
                        <input type="text" class="form-control custom-width" id="userPassword + ${user.id}" name="password">
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="userRole + ${user.id}" class="form-label text-center-custom">Role</label>
                        <select class="form-select" id="userRole + ${user.id}" th:field="*{role.roleName}">
                            <option value="USER" th:selected="${user.roles.contains('USER')}">USER</option>
                            <option value="ADMIN" th:selected="${user.roles.contains('ADMIN')}">ADMIN</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно с удалением пользователя -->
<div th:each="user : ${listUsers}" class="modal fade" th:id="'deleteUserModal' + ${user.id}" tabindex="-1"
     aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editUserModalLabel' + ${user.id}"
                    th:text="'Edit User' + ' ' + ${user.id}">
                    Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/delete}" method="post">
                    <!-- Скрытое поле для ID -->
                    <input type="hidden" name="id" th:value="${user.id}"/>

                    <!-- Поле для отображения ID -->
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserId + ${user.id}" class="form-label text-center-custom">ID</label>
                        <input type="text" class="form-control custom-width" id="deleteUserId + ${user.id}" name="id"
                               th:value="${user.id}" readonly>
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserName + ${user.id}" class="form-label text-center-custom">Name</label>
                        <input type="text" class="form-control custom-width" id="deleteUserName + ${user.id}" name="name"
                               th:value="${user.name}" readonly>
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserUsername + ${user.id}" class="form-label text-center-custom">UserName</label>
                        <input type="text" class="form-control custom-width" id="deleteUserUsername + ${user.id}" name="username"
                               th:value="${user.username}" readonly>
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserEmail + ${user.id}" class="form-label text-center-custom">Email</label>
                        <input type="text" class="form-control custom-width" id="deleteUserEmail + ${user.id}" name="email"
                               th:value="${user.email}" readonly>
                    </div>
                    <input type="hidden" name="id" th:value="${user.password}"/>
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserPassword + ${user.id}" class="form-label text-center-custom">Password</label>
                        <input type="text" class="form-control custom-width" id="deleteUserPassword + ${user.id}" name="password" readonly>
                    </div>
                    <div class="mb-3 form-group-center">
                        <label for="deleteUserRole + ${user.id}" class="form-label text-center-custom">Role</label>
                        <input type="text" class="form-control custom-width" id="deleteUserRole + ${user.id}" name="role"
                               th:value="${user.roles.get(0)}" readonly>
                        <!-- Примечание: здесь можно использовать select, если это необходимо -->
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
